{% extends "djangoTask/base.html"  %}
{% block title %}Todo Index{% endblock %}
{% block navActive %}"index"{% endblock %}
{% block content %}
{% if latest_todo_list %}
<div class="container-fluid">
  <table class="table table-dark table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>status</th>
        <th>due date</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in latest_todo_list %}
      <tr>
        <td>{{ todo.id}}</td>
        <td><a href="{% url 'djangoTask:detail' todo.id %}">{{ todo.title }}</a></td>
        <td>{{ todo.status}}</td>
        <td>{{ todo.getDueDate }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>No todos are available.</p>
{% endif %}
{% endblock %}
